<!-- Footer -->
<footer class="footer mt-5">
  <!-- Main Footer -->
  <section class="sign-up mb-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-7">
          <div class="content-wrapper d-flex">
            <div class="mail-box">
              <i class="fas fa-mail-bulk"></i>
            </div>
            <div class="sign-up-letter">
              <h4>
                sign up for newsletter
              </h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, tempora.
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas, impedit?
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-5">
          <div class="sign-up-form">
            <input type="email" name="email" id="email" placeholder="enter your email here">
            <button class="suscribe">suscribe</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--end of sgn-up-->
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <i class="fas fa-bolt"></i><span class="top-bar-name-span">elextra</span>
        <p class="lead">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Amet
          provident nesciunt laudantium ut.
        </p>
        <div class="social-links pb-4">
          <i class="fab fa-youtube social-icons"></i>
          <i class="fab fa-linkedin-in social-icons"></i>
          <i class="fab fa-twitter social-icons"></i>
          <i class="fab fa-facebook-f social-icons"></i>
          <i class="fab fa-instagram social-icons"></i>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
        <div class="row">
          <div class="col-6">
            <h6>quick links</h6>
            <ul>
              <li><a href="#">about us</a></li>
              <li><a href="#">contact us</a></li>
              <li><a href="#">products</a></li>
              <li><a href="#">login</a></li>
              <li><a href="#">sign up</a></li>
            </ul>
          </div>
          <div class="col-6">
            <h6>customer area</h6>
            <ul>
              <li><a href="#">about us</a></li>
              <li><a href="#">contact us</a></li>
              <li><a href="#">products</a></li>
              <li><a href="#">login</a></li>
              <li><a href="#">sign up</a></li>
              <li><a href="#">sign up</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 customer-area">
        <h6>customer area</h6>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae
          consequatur omnis odit.
        </p>
        <div class="live-chat row">
          <div class="col-2">
            <i class="fas fa-headset"></i>
          </div>
          <div class="col-6">
            <span>have any question</span>
            <a href="">+228 88 77 </a>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-outline-secondary">
              Secondary
            </button>
          </div>
        </div>
        <div class="play-app-store d-flex">
          <img src="../assets/images/google.png" alt="" />
          <img src="../assets/images/google.png" alt="" />
        </div>
      </div>
    </div>
  </div>
  <hr />
  <!-- end footer -->
  <!-- Bottom Copyright footer -->
  <div class="bottom-footer">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="copyright">
          Elextra <span class="pl-2">@2020 all right reserved</span>
        </div>
        <div class="card-system">
          <ul class="d-flex">
            <li>
              <a href="#" class="vasi">vasi</a>
            </li>
            <li>
              <a href="#" class="mastercard">mastercard</a>
            </li>
            <li>
              <a href="#" class="paypal">paypal</a>
            </li>
            <li>
              <a href="#" class="bitcoin">bitcoin</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--end footer-->