<!-- header starts here -->
<header class="header">
  <!-- top-bar starts -->
  <div class="top-bar">
    <div class="container">
      <div class="row d-flex justify-content-between">
        <div class="mail-location d-none d-md-block">
          <ul>
            <li><i class="fas fa-phone-alt"></i><a href="#">+22553366</a></li>
            <li>
              <i class="fas fa-envelope"></i><a href="#">info@sikxa.com</a>
            </li>
          </ul>
        </div>
        <div class="location-order">
          <ul>
            <li>
              <i class="fas fa-map-marker-alt"></i><a href="#">store locations</a>
            </li>
            <li><i class="fas fa-truck"></i><a href="#" class="truck">track your rer</a></li>
            <li>
              <select name="language" id="language">
                <option value="Nepali">$ dollar(us)</option>
                <option value="Nepali">Nepali</option>
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
              </select>
              <select name="language" id="language">
                <option value="Nepali">EN</option>
                <option value="Nepali">Nepali</option>
                <option value="English">English</option>
                <option value="Hindi">Hindi</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- top-bar-ends -->
  <div class="container">
    <nav class="navbar2 navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <i class="fas fa-bolt"></i>&nbsp;<span class="top-bar-name-span">Elextra</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto text-uppercase">
          <li class="search-bar">
            <input type="email" id="email" placeholder="Enter your email" />
            <i class="fas fa-search"></i>
          </li>
          <li>
            <i class="fas fa-border-all pt-3 icons "></i>
          </li>
          <li>
            <i class="fas fa-trash pt-3 icons "></i>
          </li>
          <li>
            <div class="donate_button">
              <button class="button">
                <i class="far fa-user-circle px-1"></i>
                my account
              </button>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- navbar -->
  <nav class="navabar1 pt-4">
    <div class="container">
      <div class="row">
        <ul>
          <li><a href="all_categories.html">all categories</a></li>
          <li><a href="">accesories</a></li>
          <li><a href="">smartphone</a></li>
          <li><a href="">computer</a></li>
          <li><a href="">gaming equipments</a></li>
          <li><a href="description_list.html">tv & monitors</a></li>
          <li><a href="">headphones</a></li>
          <li><a href="">speakers</a></li>
          <li>
            <i class="fas fa-fire-alt p-0"></i><a href="" class="hot-deals">hot deals</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>