<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ELEXTRA</title>

    <!-- Bootstrap core CSS -->
    <link href="./vendor/fontawesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./vendor/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="./vendor/owlcarousel/assets/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="./vendor/select2/select2.min.css">
    <link href="./assets/css/style.css" rel="stylesheet" />
    <link href="./assets/css/custom.css" rel="stylesheet" />
  </head>

  <body>
    {% block content %}{% endblock %}
    <!-- Bootstrap core JavaScript -->
    <script src="./vendor/jquery/jquery.min.js"></script>
    <script src="./vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./vendor/masonry/masonry.pkgd.min.js"></script>
    <script src="./vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="./vendor/select2/select2.full.min.js"></script>
    <script src="./vendor/gsap/gsap.min.js"></script>
    <script src="./assets/js/main.js"></script>
  </body>
  
</html>
